server:
  port: 8083

spring:
  cloud:
    gateway:
      globalCors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "localhost"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            allowCredentials: true
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: employee-service
              uri: lb://employee-service
              predicates:
                - Path=/employee/**
              filters:
                - RewritePath=/employee/(?<path>.*), /$\{path}
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8061/eureka/